/* You can add global styles to this file, and also import other style files */

.footer{
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #F5F5F5;
}
.card {
    float: left;
    margin: .75rem;
    background: #ffc;
    box-shadow: .3125rem .3125rem .4375rem rgba(33, 33, 33, 0.7);
    transform: rotate(-3deg);
    border-radius: 0;
    border-width: 0;
    transition-duration: .15s;
    &:hover {
      transform: rotate(0deg);
    }
    &:nth-child(even) {
      transform: rotate(2deg);
      position: relative;
      top: .1875rem;
      background: #cfc;
      &:hover {
        transform: rotate(0deg);
      }
    }
    &:nth-child(3n) {
      transform: rotate(-1.5deg);
      position: relative;
      top: -.1875rem;
      &:hover {
        transform: rotate(0deg);
      }
    }
    &:nth-child(3n-1) {
      transform: rotate(2.5deg);
      position: relative;
      top: -.3125rem;
      background: #ccf;
      &:hover {
        transform: rotate(0deg);
      }
    }
    a {
      text-decoration: none;
      color: #333;
    }
  }

.card-body {
  height: 16.5rem;
  width: 16.5rem;
  overflow: hidden;
}